@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #053b06;
}

.formContainer {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.textBold {
  font-weight: bold;
}

.inputExpense {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #91c499;
  background-color: #053b06;
}

button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #557559;
}

.expenses {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  flex-grow: 1;
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1#appTitle {
  text-align: center;
  padding: 10px 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

/* MATERIAL 3 STYLING */
.textGhostWhite {
  color: #fafbfa;
}

.backgroundCeladon {
  background-color: #91c499;
}

.textDarkerGreen {
  color: #051402;
}

.mainFontInter {
  font-family: "Inter", Arial, sans-serif;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .formContainer {
    max-width: 100%;
    margin: 50px 10px;
  }
}
